<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Traefik Dashboard</title>
	<link rel="shortcut icon" href="static/favicon.ico" type="image/vnd.microsoft.icon">
	<link rel="mask-icon" href="static/website_icon.svg" color="#118691">
	<style type="text/css">
		body {
			font-family: sans-serif;
		}

		.error {
			background-color: rgba(255,0,0,0.3);
		}

		.small {
			font-size: 80%;
		}
	</style>
</head>
<body>
	<h1>Traefik Dashboard</h1>
	{{ if .Error }}
		<p class="error">An error occured while fetching Traefik's frontends.</p>
		<p class="small">{{ .Error }}</p>
	{{ else }}
	<ul>
		{{ range .Links}}
		<li>
			<a href="http://{{.}}" target="_blank">{{.}}</a>
		</li>
		{{ end }}
	</ul>
	{{ end }}
</body>
</html>